@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background w-full max-w-screen-2xl flex justify-center;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
@layer components {
  .nav-mobile {
    @apply fixed bottom-4 left-8 right-8;
  }
  .scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.8s
      cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .shadow-rounded {
    box-shadow: 0px 0px 15px 8px rgba(130, 130, 130, 0.2);
    -webkit-box-shadow: 0px 0px 15px 8px rgba(130, 130, 130, 0.2);
    -moz-box-shadow: 0px 0px 15px 8px rgba(130, 130, 130, 0.2);
  }
  .text-outline {
    text-shadow: rgb(255, 255, 255) 5px 0px 0px,
      rgb(255, 255, 255) 4.90033px 0.993347px 0px,
      rgb(255, 255, 255) 4.60531px 1.94709px 0px,
      rgb(255, 255, 255) 4.12668px 2.82321px 0px,
      rgb(255, 255, 255) 3.48353px 3.58678px 0px,
      rgb(255, 255, 255) 2.70151px 4.20736px 0px,
      rgb(255, 255, 255) 1.81179px 4.6602px 0px,
      rgb(255, 255, 255) 0.849836px 4.92725px 0px,
      rgb(255, 255, 255) -0.145998px 4.99787px 0px,
      rgb(255, 255, 255) -1.13601px 4.86924px 0px,
      rgb(255, 255, 255) -2.08073px 4.54649px 0px,
      rgb(255, 255, 255) -2.94251px 4.04248px 0px,
      rgb(255, 255, 255) -3.68697px 3.37732px 0px,
      rgb(255, 255, 255) -4.28444px 2.57751px 0px,
      rgb(255, 255, 255) -4.71111px 1.67494px 0px,
      rgb(255, 255, 255) -4.94996px 0.7056px 0px,
      rgb(255, 255, 255) -4.99147px -0.291871px 0px,
      rgb(255, 255, 255) -4.83399px -1.27771px 0px,
      rgb(255, 255, 255) -4.48379px -2.2126px 0px,
      rgb(255, 255, 255) -3.95484px -3.05929px 0px,
      rgb(255, 255, 255) -3.26822px -3.78401px 0px,
      rgb(255, 255, 255) -2.4513px -4.35788px 0px,
      rgb(255, 255, 255) -1.53666px -4.75801px 0px,
      rgb(255, 255, 255) -0.560763px -4.96845px 0px,
      rgb(255, 255, 255) 0.437495px -4.98082px 0px,
      rgb(255, 255, 255) 1.41831px -4.79462px 0px,
      rgb(255, 255, 255) 2.34258px -4.41727px 0px,
      rgb(255, 255, 255) 3.17346px -3.86382px 0px,
      rgb(255, 255, 255) 3.87783px -3.15633px 0px,
      rgb(255, 255, 255) 4.4276px -2.32301px 0px,
      rgb(255, 255, 255) 4.80085px -1.39708px 0px,
      rgb(255, 255, 255) 4.98271px -0.415447px 0px;
  }
  .heart-beat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  20% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  40% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  60% {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  80% {
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  20% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  40% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  60% {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  80% {
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
